body {
    float: center;
    background-color: #rgba(255, 0, 0, 0.5);
}

h1 {
  font-size: 3em;
  margin: 0;
}

#banner {
    text-align: center;
    background: #FF312E;
    color: white;
    padding: 10px;
  }

.container {
  width: 850px;
  margin: 0 auto;
  border-color: #fff;
}

#main {
  float: left;
  width: 600px;
}

aside {
  float: right;
  width: 250px;
}

nav {
  margin: 10px 0 0 0;
  height: 30px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  padding: 2px 5px;
}

nav ul li a:hover {
  background: black;
  color: #fff;
}

#content {
  clear: both;
}
